SECRET_KEY=any-random-string-for-dev
DEBUG=True
ALLOWED_HOSTS=*
TIME_ZONE=Asia/Tehran

# Database
PGDB_ENGINE=django.db.backends.postgresql
PGDB_NAME=postgres
PGDB_USER=postgres
PGDB_PASS=postgres
PGDB_HOST=db
PGDB_PORT=5432
DATABASE=postgres

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend