SECRET_KEY=any-random-string-for-dev
DEBUG=True
ALLOWED_HOSTS=*
TIME_ZONE=Asia/Tehran

# Database
PGDB_NAME=postgres
PGDB_USER=postgres
PGDB_PASSWORD=postgres
PGDB_HOST=db
PGDB_PORT=5432

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend