SECRET_KEY=any-random-string-for-dev
DEBUG=True
ALLOWED_HOSTS=*
TIME_ZONE=Asia/Tehran

MELIPAYAMAK_USERNAME="9199949819"
MELIPAYAMAK_PASSWORD="PFDC4S1AM"
MELIPAYAMAK_SENDER_NUMBER="2170002198"
CSRF_TRUSTED_ORIGINS=https://yourdomain.com
MERCHANT_ID=
SANDBOX_MODE=True
SITE_ID=1

# Database
PGDB_ENGINE=django.db.backends.postgresql
PGDB_NAME=postgres
PGDB_USER=postgres
PGDB_PASSWORD=postgres
PGDB_HOST=db
PGDB_PORT=5432
DATABASE=postgres

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend